# Pandas Warmup: SF Salaries

For this warmup you will apply your Pandas (and a bit of Matplotlib) skills to answer questions about a salaries dataset! We will use the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle. Below are bolded instructions: the questions will start off on the easy side and get harder as you go along. Solutions are embedded right underneath each question.

Pandas documentation is here: http://pandas.pydata.org/pandas-docs/stable/

Matplotlib documentation is here: https://matplotlib.org/api/pyplot_summary.html

In [ ]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

**Load "Salaries.csv" into a dataframe.**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>
    
```python
salary = pd.read_csv('data/Salaries.csv')
 ```
</details>

**Check the head of the dataframe.**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>
    
```python
salary.head()
 ```
</details>

**How many entries, or rows are there?**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>

148,654 rows
    
```python
salary.info()
 ```
Alternatively:
```python
len(salary)
 ``` 
</details>

**What is the average total salary (without benefits)?**

In [9]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>
    
$74,768.32

```python
salary['TotalPay'].mean()
 ```
</details>

**What is the lowest base salary amount? The highest?**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>
    
Lowest base salary is -$166.01 

Highest base salary is $319,275.01
    
```python
min_sal = salary['BasePay'].min()
max_sal = salary['BasePay'].max()
print(f'Lowest base salary: ${min_sal}')
print(f'Highest base salary: ${max_sal}')
 ```
</details>

**Plot a histogram showing the frequency distribution of base salaries. Add an appropriate title and axis labels. How would you describe this distribution? What happens when you increase the bin size?**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>
    
```python
fig, ax = plt.subplots()
ax.hist(sal['BasePay'],bins=10)
ax.set_xlabel('Base Salary')
ax.set_ylabel('Frequency')
ax.set_title('Base Salary: Frequency Distribution')
plt.show()
 ```
    
Using a bin size of 10, the distribution of base salaries appears to be right-skewed. As we increase the number of bins, we see more peaks emerge, and the distribution becomes increasingly multimodal. Using a bin size of 50 for instance, we can clearly see one peak close to 0, another between 50,000 and 100,000, and another close to 100,000. 
</details>

**What are the three most common job titles?**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>

The three most common titles are Transit Operator, Special Nurse, and Registered Nurse.
    
```python
salary['JobTitle'].value_counts().iloc[:3]
 ```
Alternatively:
```python
salary['JobTitle'].value_counts().head(3)
 ```     
</details>

**How many unique job titles are there?**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>

There are 2,159 unique job titles.
```python
salary['JobTitle'].nunique()
 ``` 
</details>

**What is the job title and base salary of "VENUS AZAR"?**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>

Assistant Medical Examiner, $257,510.48

```python
salary[salary['EmployeeName']=='VENUS AZAR'][['JobTitle','BasePay']]
 ``` 
</details>

**For how many employees does the sum of overtime pay and other pay exceed base salary?**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>

2,706 employees
    
```python
len(salary[salary['OvertimePay']+salary['OtherPay']>salary['BasePay']])
 ``` 
</details>

**Who had the highest salary (including benefits) in 2013?**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>

Gregory P Suhr had the highest salary (including benefits) in 2013.
    
```python
salary_2013 = salary[(salary['Year']==2013)]
salary_2013[salary_2013['TotalPayBenefits']==salary_2013['TotalPayBenefits'].max()]['EmployeeName'] 
``` 

</details>

**Calculate the median base salary of all employees for each year (from 2011-2014). Graph the median base salary over time. Add axis labels and an appropriate title.**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>
    
```python
grouped_basepay = salary.groupby('Year').median()['BasePay']
    
fig,ax = plt.subplots()
x_ticks = np.arange(2011, 2015, 1)
plt.xticks(x_ticks)
ax.plot(grouped_basepay)
ax.set_xlabel("Year")
ax.set_ylabel("Base Salary")
ax.set_title("Median Base Salary: 2011 - 2014")
plt.show()
``` 

</details>

**Calculate the median total pay (without benefits) and median total pay (with benefits) for each year. Graph both of these on the same figure. Add a legend, axis labels and an appropriate title.**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>
    
```python
grouped_totalpay = sal.groupby('Year').median()[['TotalPay','TotalPayBenefits']]
    
fig,ax = plt.subplots()
x_ticks = np.arange(2011, 2015, 1)
plt.xticks(x_ticks)
ax.plot(grouped_totalpay['TotalPay'],label='Total Pay (Without Benefits)')
ax.plot(grouped_totalpay['TotalPayBenefits'],label='Total Pay (With Benefits)')
ax.legend(loc='best')
ax.set_xlabel("Year")
ax.set_ylabel("Base Salary")
ax.set_title("Total Pay (With and Without Benefits): 2011 - 2014")
plt.show()
``` 

</details>

**What are the top 3 job titles with the highest average total salaries (including benefits)?**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>

The top three job titles are Chief Investment Officer, Chief of Police, and Chief, Fire Department.
    
```python
salary.groupby('JobTitle').mean()['TotalPayBenefits'].sort_values(ascending=False).head(3)
``` 

</details>

**How many job titles are represented by only one person in 2013? (e.g. job titles with only one occurence in 2013?)**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>
    
202 job titles are represented by just one person in 2013.
    
```python
(salary[salary['Year']==2013]['JobTitle'].value_counts() == 1).sum() 
``` 

</details>

**How many employees' first names start with 'C'? Hint: An "apply" method may be helpful here.**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>
    
9,845 employees' first names start with 'C'.
    
```python
salary['EmployeeName'].apply(lambda x: x[0] == 'C').sum() 
``` 

</details>

**BONUS: How many employees have the word General in their job title? Note that some titles are completely uppercase while others are capitalized, and that here we'll want to account for all cases (i.e. 'general' = 'General' = 'GENERAL' = 'gEnErAl')**

In [ ]:
# your code here

<details>
  <summary>Click to expand the solution!</summary>
    
1,675 employees have the word "General" in their job title. One way to approach this problem is to first create a custom function that returns a boolean depending on whether a given string is in the title, pass that function to the apply method (which applies the function to each row in the job title column), and then sum up the number of True values.
    
```python    
def string_job_title(title,string):
    if string.lower() in title.lower():
        return True
    else:
        return False

sum(salary['JobTitle'].apply(lambda x: string_job_title(x,'General')))
``` 
    
</details>

**GREAT JOB!**